<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated vcsFeaturesMM -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="vcsFeaturesMM.presentation.VcsFeaturesMMModelWizardID"
            name="%_UI_VcsFeaturesMMModelWizard_label"
            class="vcsFeaturesMM.presentation.VcsFeaturesMMModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/VcsFeaturesMMModelFile.gif">
         <description>%_UI_VcsFeaturesMMModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated vcsFeaturesMM -->
      <editor
            id="vcsFeaturesMM.presentation.VcsFeaturesMMEditorID"
            name="%_UI_VcsFeaturesMMEditor_label"
            icon="icons/full/obj16/VcsFeaturesMMModelFile.gif"
            extensions="vcsfeaturesmm"
            class="vcsFeaturesMM.presentation.VcsFeaturesMMEditor"
            contributorClass="vcsFeaturesMM.presentation.VcsFeaturesMMActionBarContributor">
      </editor>
   </extension>

</plugin>
